@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$primary-color: #6271DD;
$secondary-color: #F5F5F5;
$grey: #8A8B92;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: $secondary-color;
}

#logo {
  img {
    transform: scale(.8);
  }

  h5 {
    font: {
      family: "Kodchasan", sans-serif;
      size: 1rem !important;
      weight: 700 !important;
    };
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 15%;
  min-width: 170px;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      padding: .2rem .5rem;
      border-radius: .8rem;
      a {
        img  {
          transform: scale(.8);
        }
        span {
          color: $grey;
          font-weight: 500;
        }
      }
      &.active {
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        *{
          color: $primary-color;
        }
      }
    }
  }
  #profile {
    margin-top: auto;
    img {
      transform: scale(.8);
    }
    color: $primary-color;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
  }
}