@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background-color: #6271DD;
  --bs-btn-color: #fff;
  --bs-btn-bg: #6271DD;
  --bs-btn-border-color: #6271DD;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b89ed;
  --bs-btn-hover-border-color: #7b89ed ;
  --bs-btn-focus-shadow-rgb: #6271DD;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6271DD;
  --bs-btn-active-border-color: #6271DD;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8691ff;
  --bs-btn-disabled-border-color: #8691ff;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #F7FAFF;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo img {
  transform: scale(0.8);
}
#logo h5 {
  font-family: "Kodchasan", sans-serif;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 15%;
  min-width: 170px;
}
nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
nav ul li {
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
nav ul li a img {
  transform: scale(0.8);
}
nav ul li a span {
  color: #8A8B92;
  font-weight: 500;
}
nav ul li.active {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
nav ul li.active * {
  color: #6271DD;
}
nav ul li:hover {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
nav #profile {
  margin-top: auto;
  cursor: pointer;
  color: #6271DD;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}
nav #profile img {
  transform: scale(0.8);
}

main {
  padding: 5rem 1rem 1rem 1rem;
  width: 100%;
}
main h2 {
  font-weight: 500;
}
main .inputs {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5rem;
}
main .inputs button {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
main .inputs .range input, main .inputs select {
  width: 100%;
}
main .inputs .range {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 0.5rem;
}
main input, main select {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.card img {
  height: 260px !important;
}
.card * {
  margin: 0;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cards {
  padding: 1.5rem 0;
  justify-content: space-between;
  row-gap: 1rem;
}
.cards .card-container {
  padding: 0 0.5rem;
}
.cards .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#modal {
  border: none;
  border-radius: 0.8rem;
  max-width: 800px;
  position: relative;
  margin-top: 25%;
  margin-left: 25%;
}
#modal .modal-img {
  width: 50%;
  overflow: clip;
}
#modal .modal-img img {
  max-height: 600px;
  transform: translateX(-25%);
}
#modal .modal-cnt {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#modal .modal-body {
  width: 50%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#modal .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: auto;
}
#modal .buttons * {
  width: 100%;
  padding: 0.5rem 0;
}
#modal .buttons #delete {
  background-color: #E74040;
  border: #E74040;
}
#modal .buttons #delete:hover {
  background-color: #df6c6c;
}
#modal #close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  outline: none;
  color: #8A8B92;
  font-size: 1.5rem;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.tags * {
  padding: 0.2rem 0.4rem;
  background-color: #8A8B92;
  color: white;
  border-radius: 0.3rem;
  font-size: 0.7rem;
}

.adresse {
  color: #8A8B92;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  color: #6271DD;
  font-size: 1.5rem;
  font-weight: 700;
}

.centerPoint {
  position: absolute;
  top: 50%;
  right: 50%;
}

/*# sourceMappingURL=style.css.map */
